html,
body {
  height: 100%;
}

body {
  color: $default;
  font-size: 20px;
  line-height: 1.5;
  @extend %rubik-400;
  background-color: #F9FAFF;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

a {
  color: $default;
  text-decoration: none;
  color: inherit;
  outline: transparent;
  @extend %rubik-400;
}

button,
textarea,
input,
.form__input {
  outline: transparent;
}

button {
  display: inline-block;
  appearance: none;
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
  font: inherit;
}

address {
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 36px;
  line-height: 130%;
  @extend %rubik-500;
  text-align: center;
  margin-bottom: 45px;
}

.animate {
  transition: color 0.5s, box-shadow 0.5s, text-shadow 0.5s;
}

.animate:focus {
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  border-radius: 5px;
} /* Почему-то у нижнего лого не работает фокус, только у верхнего */
