@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 60px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;


  &__list {
    display: flex;
    margin-left: auto;
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    font-size: 18px;
    line-height: 2.1;
  }

  &__link:hover {
    color: $accent;
  }

  &__link:focus {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
  }

  &__link:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  }

  &__link--active {
    color: $accent;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  margin-left: 63px;

  &__link {
    position: relative;
  }

  &__link:not(:last-child) {
    margin-right: 36px;
  }

  &__link:focus {
    background-color: rgba(255, 122, 80, 0.1);
    padding: 13px 13px 10px 13px;
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
  }
  &__link:hover {
    padding: 13px 13px 10px 13px;
    background-color: $accent;
    border-radius: 5px;
  }

  &__num {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $accent;
    font-size: 10px;
    line-height: 1.4;
    color: #FFFFFF;
    text-align: center;
    transform: translate(-46%, -28%);
  }
}

.logo {
  transition: opacity 0.5s, box-shadow 0.5s;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.5;
}

.delivery {
  padding-bottom: 120px;
}

.delivery-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info {
    flex-direction: column;
    max-width: 450px;
  }

  &__title {
    font-size: 66px;
    line-height: 130%;
    text-transform: uppercase;
    @extend %rubik-500;
    margin-bottom: 20px;
  }

  &__title span {
    color: $accent;
  }

  &__text {
    margin-bottom: 20px;
  }
}

.delivery-order {
  display: flex;
  align-items: center;

  &__btn {
    background-color: $accent;
    width: 146px;
    height: 47px;
    border-radius: 6px;
    padding: 12px 32px;
    color: #FFFFFF;
    margin-right: 34px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }

  &__link {
    text-decoration-line: underline;
  }
}

.categories__title {
  margin-bottom: 60px;
}

.categories {
  &__filter {
    display: flex;
    margin-bottom: 45px;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__btn {
    background-color: #FFFFFF;
    box-shadow: 0 0 0 1px #ECECEC;
    border-radius: 5px;
    padding: 22px 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    svg {
      margin-right: 10px;
    }
  }

  &__more {
    display: block;
    text-decoration-line: underline;
    text-align: center;
  }
}

.mixitup-control-active {
  background-color: $accent;
}

.categories__content {
  display: grid;
  height: 100vh;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 30px;
  margin-bottom: 60px;
}

.categories-box {
  padding: 20px 0;
  min-width: 210px;
  max-height: 299px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 1px #ECECEC;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__img {
    margin-bottom: 10px;
  }

  &__descr {
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 10px;
  }

  &__price {
    font-size: 15px;
    line-height: 1.4;
    @extend %rubik-500;
    margin-bottom: 10px;
  }

  &__btn {
    background-color: #FF6838;
    border-radius: 5px;
    width: 101px;
    height: 32px;
    font-size: 14px;
    padding: 7px 16px;
    color: #FFFFFF;
    @extend %rubik-400;
    line-height: 1.3;
    border-radius: 6px;
  }
}


.footer-top {
  padding-bottom: 65px;
  border-bottom: 1px solid rgba(194, 194, 194, 0.2);
  display: flex;

  &__items {
    margin-right: 70px;
  }

  &__submit {
    width: 200px;
  }

  &__products {
    width: 153px;
  }

  &__news {
    width: 91px;
  }

  &__map {
    width: 187px;
  }

  &__contats {
    width: 195px;
  }

  &__item {
    font-size: 18px;
    line-height: 130%;
    padding-bottom: 22px;
  }

  &__logo {
    margin-bottom: 30px;
    display: block;
  }

  &__form-input {
    background-color: #fff;
    max-width: 200px;
    width: 100%;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    padding: 13px 15px;
    margin-bottom: 12px;

    &::placeholder {
      color: #C2C2C2;
      font-size: 14px;
      line-height: 1.3;
      opacity: 0.9;
    }
  }

  &__form-btn {
    position: relative;
    background-color: #FF6838;
    border-radius: 5px;
    width: 200px;
    height: 44px;
    font-size: 14px;
    padding: 13px 69px;
    color: #FFFFFF;
    @extend %rubik-500;
  }

  &__form-btn::before {
    content: "";
    position: absolute;
    transform: translate(-170%, 14%);
    width: 17px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/icons/frame.svg')
  }

  &__icon {
    content: "";
    position: absolute;
    transform: translate(-137%, 7%);
  }

  &__social-list {
    display: flex;
  }

  &__social-item {
    transform: translateX(-90%);
  }

  &__social-item:not(:last-child) {
    margin-right: 13px;
  }
}

.footer-bottom {
  padding: 30px 0;
  text-align: center;
}
@import 'media';